@font-face { 
  font-family:Century Gothic; 
    src: local("Century Gothic"), url('fonts/gothic.ttf'); 
}
@font-face { 
  font-family:NATS; 
    src: local("NATS"), url('fonts/NATS.ttf'); 
}
@font-face { 
  font-family:Sree Krushnadevaraya; 
    src: local("Sree Krushnadevaraya"), url('fonts/Sree Krushnadevaraya.ttf'); 
}
@font-face { 
  font-family:Droid Sans; 
    src: local("Droid Sans"), url('fonts/DroidSans.ttf'); 
}
@font-face { 
  font-family:Montserrat; 
    src: local("Montserrat"), url('fonts/Montserrat-Regular.ttf'); 
}
@font-face { 
  font-family:Suravaram; 
    src: local("Suravaram"), url('fonts/Suravaram.ttf'); 
}
@font-face { 
  font-family:Mallanna; 
    src: local("Mallanna"), url('fonts/mallanna.ttf');
}
@font-face { 
  font-family:Ramaraja; 
    src: local("Ramaraja"), url('fonts/Ramaraja-Regular.ttf');
}
#featured_slide{
	display:block; 
	position:relative; 
	width:980px; 
	height:250px; 
	margin:0 auto; 
	overflow:hidden; 
	font-size:14px; 
	font-family: "Droid Sans", NATS; 
	color:#FFFFFF;
	background-color:#f9f9f9;
}
#featured_slide a{
	color:#01425A; 
}
#featured_slide a, #featured_slide ul, #featured_slide img{
	margin:0; 
	padding:0; 
	border:none; 
	outline:none; 
	list-style:none; 
	text-decoration:none;
}
#featured_slide h1, #featured_slide h2, #featured_slide h3, #featured_slide h4, #featured_slide h5, #featured_slide h6{
	margin:0 0 15px 0; 
	padding:0 0 8px 0; 
	line-height:normal; 
	font-size:32px;
	color:#000000;
	font-weight:normal; 
	font-family: "Droid Sans", NATS; 
	border-bottom:1px dotted #CCCCCC;
}
#featured_slide nav{
	line-height:50px; 
	font-size:30px;
	color:#FF0000;
	font-family: "Droid Sans", NATS; 
	border-bottom:1px dotted #CCCCCC;
}
/* ----------------------------------------------Content------------------------------------- */

.featured_box{
	display:block; 
	position:relative; 
	width:980px; 
	height:250px;
}
.featured_box img{
	display:block; 
	float:left; 
	width:250px; 
	height:250px;
}
.featured_box .floater{
	display:inline; 
	float:right; 
	width:700px; 
	margin:10px 15px 0 0;
}
.featured_box div{
	margin:0; 
	padding:0;
	line-height:180%;
	font-family:"Droid Sans", NATS;
	font-size:18px;
	color:#000000;
}
.readmore{
	display:block;
	width:100%; 
	margin:0; 
	padding:0;
	color:#FF0000;
	text-align:right; 
	line-height:normal;
}

/* ----------------------------------------------Navigation Buttons------------------------------------- */

/*

Navigation dynamically created using: jquery.cycle.min.js

HTML Output:

<div id="fsn">
  <ul id="fs_pagination">
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ul>
</div>

*/

#fsn{
	display:block; 
	position:relative; 
	width:980px; 
	height:22px; 
	margin:5px auto -5px; 
	text-align:center;
	z-index:1000;
	background-color:#737373;
	-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
}
#fsn ul{
	display:block;
	position:relative; 
	width:125px; 
	height:25px; 
	margin:0 auto; 
	padding:5px 0 0 0; 
	overflow:hidden; 
	list-style:none;
}
#fsn ul li, #fsn ul li a{
	display:block; 
	float:left; 
	width:12px; 
	height:12px; 
	margin:0 10px 0 0; 
	padding:0;
		-webkit-border-radius: 90px;
-moz-border-radius: 90px;
border-radius: 90px;
	background-color:#fff;
}
#fsn ul li a{
	float:none; 
	border:none; 
	margin:0; 
	outline:none; 
	text-indent:-5000px; 
	text-decoration:none;
}
#fsn ul li a:hover, #fsn ul li.activeSlide a{
	background:url("../images/slide.png") 0% 50% no-repeat;
}