#prabox {
    background-color: #FFFFFF;
    border: 5px solid #395D9D;
    border-radius: 5px 5px 5px 5px;
    display: block;
    position: fixed;
    z-index: 10000;
}
#prabox img {
    cursor: pointer;
    margin-left: -3px;
    position: absolute;
    top: 0;
}
img {
    border: 0 none;
}
#prabox2 {
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    display: block;
    position: fixed;
    z-index: 10000;
}
#prabox2_img {
    border: 0 none;
    cursor: pointer;
    position: absolute;
    top: 0;
}
img {
    border: 0 none;
}
