

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="Keywords" content="Postman/Mail Guard Exam Key, SSC – CGL Key, APSET 2013 question papers with keys, EAMCET 2013 Mock Counselling, Engineering Counselling, Medical Counselling, EAMCET Results, Inter 2013 Results with Marks, Civil Service Exam 2013 Syllabus, CMAT 2013, New Civils Mains Exam pattern, Andhra Education Portal, bank jobs, Educational institutes, jobs in Delhi, government jobs in AP, government jobs for freshers, Previous papers with key, Group I, II, IV, Civil Services, CAT 2012, GATE 2013, IBPS, EAMCET, JEE(main), JEE(Advanced), DSC SA, SGT study material, 
    Group IV Study Material, NEET Study Material, Education News, Online Tests, Competitive Exams, Sholarships, Educational Loans, Carrerr After 10th, Career After 10+2, Results, Foreign Education, Higher Education, Latest Notifications, JEE Main - (Central Seat Allocation Board) CSAB, JEE Advanced Counselling, 
    Previous papers with key, APPSC exams, Government Jos in India, Latest Private Jobs in India, Study Abroad, Scholarships in India, Career Guidance, Current Affairs Telugu and English, Mock Test, Bank POs Online Test, Bank POs, Exam Results, Colleges, Universities, Colleges in India, Universities in India, Colleges in Andhra Pradesh, Universities in Andhra Pradesh, Schools in Andhra Pradesh, Examination Results, Osmania University, MBA, 
    MCA, MSC, MA, MCOM, APRJC, CEEP, EAMCET, ICET, ECET, EDCET, LAWCET, EDCET-2012, LAWCET-2012, School, Educational Portal, Educational News, HallTickets, Question Papers, 
    Educational Jobs, Students, Parents, Teachers, Institutions, Jobs in Hyderabad, Jobs in Delhi,  Jobs in Bangalore, Jobs in Chennai, Faculty Jobs, Army Jobs, Non-faculty Jobs, Jobs in Indian Army, UPSC Jobs, SSC Jobs, RRB Jobs, Jobs with 10th class, Jobs with 10+2, Jobs with Intermediate, Railway Jobs, Jobs in Railway, 
    Spoken English, Career Options, Crack GMAT, Preparation Strategies, Singapore Education, Stydy in Newzealand, Study in UK, Study in Australia, Study in USA, Study in UK, Engineering Jobs, Education, MBA Jobs, Career in Biotechnology, Career in Sciences, Pharmacy Jobs, Pharmacy Jobs in Hyderabad, Career in Pharmacy, Biotechnology, IAS, IPS, IFS, EAMCET Cutoff, Marks" /><meta name="description" content="Sakshieducation.com is the exclusive education portal established by Sakshi Media Group. It offers subject-wise mock tests and practice tests, previous question papers and scholarship information, which are quite useful for those who are attempting placement, competitive and entrance exams." /><meta name="abstract" content="Sakshieducation.com: Educating, Enlightning and Ennobling" /><meta name="classification" content="Education in India, AP, Career Guidance, Jobs, Admissions, Scholarships, Tenth Class, Intermediate, Class 10+2, Competitive Exams, Civil Services, Group I, Group II, Bank Exams" /><meta name="Robots" content="INDEX,FOLLOW" /><meta name="author" content="www.sakshieducation.com" /><meta name="google-site-verification" content="xgndnsZzvH9kKB7FNriXVCe_JSWaDO6Lz1MC2nT8I6Y" /><meta name="p:domain_verify" content="78b3bf31ea993acfd793e8c641a2c892" /><meta name="viewport" content="width-device-width,maximum-scale=1.0,initial-scale=1.0" /><title>
	ErrorPage
</title><link rel="shortcut icon" href="favicon.ico" /><link rel="stylesheet" type="text/css" href="hstyles/StylesR.css" /><link rel="stylesheet" type="text/css" href="hstyles/responsive-new.css" /><link href="Civils/css/fonts.css" rel="stylesheet" type="text/css" /><link rel="stylesheet" href="Mcss/aboutus-css.css" media="screen" /><link rel="stylesheet" type="text/css" href="hstyles/component-new.css" /><link rel="stylesheet" type="text/css" href="hstyles/icons.css" />	
     <script type="text/javascript" src="hjs/jquery-1.10.2.min.js"></script>
       
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript" src="js/gfeedfetcher.js"></script>
          <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js'></script>
        <script src="Hjs/modernizr.custom.js"></script>
       <script src="hjs/jquery.ticker.js" type="text/javascript"></script>
        <script src="hJS/site.js" type="text/javascript"></script>
		<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3942776-4', 'auto');
  ga('send', 'pageview');

</script>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=276213142406836";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<script>
  googletag.cmd.push(function() {
    googletag.defineSlot('/1062118/edu_Home_160x600', [[160, 600], [120, 600]], 'div-gpt-ad-1511853713170-0').addService(googletag.pubads());
    googletag.defineSlot('/1062118/edu_Home_BigBox', [300, 600], 'div-gpt-ad-1511853713170-1').addService(googletag.pubads());
    googletag.defineSlot('/1062118/edu_Home_Box', [300, 250], 'div-gpt-ad-1511853713170-2').addService(googletag.pubads());
    googletag.defineSlot('/1062118/edu_home_LB', [728, 90], 'div-gpt-ad-1511853713170-3').addService(googletag.pubads());
    googletag.defineSlot('/1062118/728*90', [728, 90], 'div-gpt-ad-1511853713170-4').addService(googletag.pubads());
    googletag.defineSlot('/1062118/edu_160x600_1', [[160, 600], [120, 600]], 'div-gpt-ad-1511853713170-5').addService(googletag.pubads());
    googletag.defineSlot('/1062118/edu_160x600_2', [[160, 600], [120, 600]], 'div-gpt-ad-1511853713170-6').addService(googletag.pubads());
	googletag.defineSlot('/1062118/Main_468x60_1', [468, 60], 'div-gpt-ad-1486195358164-7').addService(googletag.pubads());
	googletag.defineSlot('/1062118/Edu_Resp_Box1', [300, 250], 'div-gpt-ad-1511854145373-0').addService(googletag.pubads());
    googletag.defineSlot('/1062118/edu_resp_box2', [300, 250], 'div-gpt-ad-1511854145373-1').addService(googletag.pubads());
    googletag.defineSlot('/1062118/edu_resp_box3', [300, 250], 'div-gpt-ad-1511854145373-2').addService(googletag.pubads());
    googletag.defineSlot('/1062118/edu_resp_box4', [300, 250], 'div-gpt-ad-1511854145373-3').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.pubads().collapseEmptyDivs();
    googletag.pubads().enableSyncRendering();
    googletag.enableServices();
  });
</script>
<script type="text/javascript">
		
		if(typeof colombia == 'undefined')
		{
			var colombia = colombia || {};
			colombia.fns = colombia.fns || [];
			(function() {
				  var cads = document.createElement("script");
				  cads.async = true;
				  cads.type = "text/javascript";
				  cads.src = "//static.clmbtech.com/ctn/commons/js/colombia_v2.js";
				  var node = document.getElementsByTagName("script")[0];
				  node.parentNode.insertBefore(cads, node);
			})();
		}
		</script>
</head>

<body >
<!--top-nav-resize starts-->
<div id="top-nav-resize">
<!--top-nav-bar starts-->
<div class="top-nav-bar">
<!--top-nav starts-->
<div class="top-nav">
<ul>
<li><a  href="BhavitaMainStory.aspx?nid=79589&cid=57&sid=609&chid=1033&tid=0" target="_self">Bhavita</a></li>
<li><a  href="VidyaMainStory.aspx?nid=80812&cid=57&sid=611&chid=984&tid=0" target="_self">Vidya</a></li>

<li><a  href="Aboutus.aspx" target="_self">About Us</a></li>
<li><a  href="FeedBack.aspx" target="_self">Feedback</a></li>
<li><a  href="ContactUs.aspx" target="_self">Contact Us</a></li>
<li><a  href="Estore/Index.html" target="_blank">E-Store</a></li>
<li><a  href="APPs.html" target="_blank">Apps</a></li>
<li><a  href="http://www.sakshi.com/" target="_blank">Sakshi</a></li>
<li><a  href="http://sakshibusiness.com/" target="_blank">Business</a></li>
</ul>


<div style="clear:both"></div>
</div>
<!--top-nav ends-->
<!--search-social-bar starts-->
<div class="search-social-bar">
<!--icon-bar starts-->
<div id="icon-bar">
<a href="HomeT.html"> సాక్షి ఎడ్యుకేషన్.కామ్ తెలుగులో </a>
<div style="clear:both;"></div>
</div>
<!--icon-bar ends-->
<!--search-bar starts-->
<div class="search-bar">
<form action="http://www.sakshieducation.com/search.aspx" id="cse-search-box" target="_blank">
  <div>
        <input type="hidden" name="cx" value="partner-pub-5146799792650686:4525610279" />
    <input type="hidden" name="cof" value="FORID:10" />
    <input type="hidden" name="ie" value="ISO-8859-1" />
    <input type="text" name="q" size="20" placeholder="Search"/>
  </div>
  <input type="submit" name="sa" value="" class="submit"/>
</form>

<div style="clear:both"></div>
</div>
<!--search-bar ends-->

<div style="clear:both"></div>
</div>
<!--search-social-bar ends-->
<div style="clear:both"></div>
</div>
<!--top-nav-bar ends-->
<div style="clear:both"></div>
</div>
<!--top-nav-resize ends-->
<!--main-body-resize starts-->
<div id="main-body-resize">
<!--main-body-inner starts-->
<div id="main-body-inner">
<!--logo-ad-bar starts-->
<div class="logo-ad-bar">
<div class="logo-bar"><a href="Home.html"><img src="himages/logo.png"  alt="Sakshi education logo"/></a></div>

<div style="clear:both"></div>
</div>
<!--logo-ad-bar ends-->
    <form name="aspnetForm" method="post" action="errorpage.aspx?404%3bhttps%3a%2f%2fwww.sakshieducation.com%3a443%2fGroupII%2fGroupII.css" id="aspnetForm">
<div>
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTEwMDUyNjYzMjhkZE8hwS5g6Rz9arqbO7YkN5yvD5uq" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['aspnetForm'];
if (!theForm) {
    theForm = document.aspnetForm;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="/WebResource.axd?d=KYemWt59waoNU8Vtn4yaMfp9pqyOyCVAJsvzmlDJXe0i9R2oPgReIunGmw9RkUWokBQQjafyhfm3AKqvPUaK84diDVg1&amp;t=634605430860686371" type="text/javascript"></script>


<script src="/ScriptResource.axd?d=QtTCbeV5c7UFhM-7rKyAEyNaFH0Sr0Jk5Akh_YfmNzYz_-PJ0bsH2rxXUgaq61qy-YsrgR9zT9af2LIvo0OPLMm9gHRnf9LfFM8ztSKzU3gbTQixtzYxlLfpGOl7fTk92oz6SeCbo513jQY9KCdFYSFoVQfBm8QJg8Ti28dcUyn9R-9a0&amp;t=635036478118761653" type="text/javascript"></script>
<script src="/ScriptResource.axd?d=r8YAnFHqEMBUosWZcaCtonbpzLED6G5mZzaWLGKlEO6nVfqa2rLQtZc-WpyYzpu6LwP1Iz_RClpn8aw2H5zIDaw4HMXuJth5slPwN8oPOWdFP5O82Zwup25f5x3y3IbujWiIEF7iLnFDqyz-v4wzhA6SliYi-Fxy1j3GwlTxkhQEt2Zp0&amp;t=635036478118761653" type="text/javascript"></script>
        <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ScriptManager1', document.getElementById('aspnetForm'));
Sys.WebForms.PageRequestManager.getInstance()._updateControls([], [], [], 90);
//]]>
</script>

        <div>
		
 <div id="nav-bar">
        			
        	<div  id="nav">
<div class="home"><a href="Home.html"></a></div>

<!--nav-set starts-->
<div class="nav-set" style="margin-left:5px;">
<h1><a href="#">Academics</a></h1>
<ul>
<li><a href="Tclass/Index.html" target="_blank">Tenth Class</a></li>
<li><a href="Inter/Index.html" target="_blank">Inter</a></li>
<li><a href="EAM/Eamcet.html" target="_blank">EAMCET</a></li>
<li><a href="Engineering/Index.html" target="_blank">Engineering</a></li>
</ul>
<!--drop down starts-->
<div class="nav-drop-bar">
<ul>
<li><a href="NEET/Index.html" target="_blank">NEET</a></li>
<li><a href="Notifications/ListS.aspx?cid=54&sid=554" target="_blank">Scholarships</a></li>
<li><a href="JEE/Index.html" target="_blank">JEE (Main & Adv.)</a></li>
<li><a href="Study-Abroad/Index.html" target="_blank">Study Abroad</a></li>
<li><a href="Gate/Index.html" target="_blank">GATE</a></li>
<li><a href="Careers/IndexE.html" target="_blank">Careers/Courses</a></li>
<li><a href="Icet/Index.html" target="_blank">ICET</a></li>
<li><a href="Colleges.aspx" target="_blank">Institutes/Colleges</a></li>
<li><a href="Lawcet/Index.html" target="_blank">LAWCET</a></li>
<li><a href="List.aspx?cid=53">University Updates</a></li>
<div style="clear:both;"></div>
</ul>

</div>
<!--drop down ends-->
</div>
<!--nav-set ends-->
<!--nav-set starts-->
<div class="nav-set">
<h1><a href="GroupII/Index.html" target="_blank">Competitive Exams</a></h1>
<ul>
<li><a href="Banks/Index.html" target="_blank">Bank Exams</a></li>
<li><a href="CA/Index.html" target="_blank">Current Affairs</a></li>

<li><a href="PreviousPapers/Index.html" target="_blank">Prev. Papers</a></li>
</ul>
<!--drop down starts-->
<div class="nav-drop-bar" >
<ul>
<li><a href="SSC/Index.html" target="_blank">SSC Exams</a></li>
<li><a href="http://www.sakshieducation.com/GII-APPSC/Index.html" target="_blank">APPSC Groups</a></li>
<li><a href="RRB/Index.html" target="_blank">RRB Exams</a></li>
<li><a href="GII-New/Index.html" target="_blank">TSPSC Groups</a></li>
<li><a href="TET/Index.html" target="_blank">TET | DSC | TRT</a></li>
<li><a href="Civils/Index.html" target="_blank">Civils</a></li>
<li><a href="POC/Index.html" target="_blank">SI & PC</a></li>
<li><a href="VRO/Index.html" target="_blank">VRO/VRA</a></li>
<li><a href="GK/Index.html" target="_blank">GK</a></li>
<li><a href="Panchayat/Index.html" target="_blank" >Panchayat Secretary</a></li>



<div style="clear:both;"></div>
</ul>

</div>
<!--drop down ends-->
</div>
<!--nav-set ends-->
<!--nav-set starts-->
<div class="nav-set">
<h1><a href="#">Miscellaneous</a></h1>
<ul>
<li><a href="Notifications/Index.html" target="_blank">Admissions</a></li>
<li><a href="Sarkari-Jobs/Index.html" target="_blank">Jobs</a></li>
<li><a href="Results/Index.html" target="_blank">Results</a></li>
<li><a href="OnlineTests/Index.html" target="_blank">Online Tests</a></li>
</ul>
<!--drop down starts-->
<div class="nav-drop-bar" >
<ul>
<li><a href="list.aspx?cid=2&sid=357">Hall Tickets</a></li>
<li><a href="Examinations.aspx" target="_blank">Exam Reminder</a></li>
<li><a href="List.aspx?cid=51">Internships</a></li>
<li><a href="List.aspx?cid=2&sid=115&chid=0&tid=0">News</a></li>
<li><a href="List.aspx?cid=55">Online Courses</a></li>
<li><a href="Careers/FaqsE.html" target="_blank">FAQs</a></li>
<li><a href="ListA.aspx?cid=8">Experts' Answers</a></li>
<li><a href="http://mycareer.sakshieducation.com/" target="_blank">Discussion Forum</a></li>
<div style="clear:both;"></div>
</ul>

</div>
<!--drop down ends-->
</div>
<!--nav-set ends-->
  </div> <!-- END nav -->        
         </div> <!-- END nav-bar -->
         
<!--ipod, Mobile Menu starts-->
<div id="mobile-nav">

			<!-- Push Wrapper -->
			<div class="mp-pusher" id="mp-pusher">

<!-- mp-menu -->
				<nav id="mp-menu" class="mp-menu">
					<div class="mp-level">
						<h2 class="icon icon-world">Menu</h2>
						<ul>
							<li class="icon icon-arrow-left"><a class="icon " href="Home.html">Home</a></li>
                            <li class="icon icon-arrow-left">
								<a class="icon " href="#">Academic Exams</a>
								<div class="mp-level">
									<h2 class="icon ">Academic Exams</h2>
									<a class="mp-back" href="#">back</a>
									<ul>
<li><a href="Tclass/Index.html" target="_blank">Tenth Class</a></li>
<li><a href="Inter/Index.html" target="_blank">Inter</a></li>
<li><a href="EAM/Eamcet.html" target="_blank">EAMCET</a></li>
<li><a href="Engineering/Index.html" target="_blank">Engineering</a></li>
<li><a href="NEET/Index.html" target="_blank">NEET</a></li>
<li><a href="Notifications/ListS.aspx?cid=54&sid=554" target="_blank">Scholarships</a></li>
<li><a href="JEE/Index.html" target="_blank">JEE (Main & Adv.)</a></li>
<li><a href="Study-Abroad/Index.html" target="_blank">Study Abroad</a></li>
<li><a href="Gate/Index.html" target="_blank">GATE</a></li>
<li><a href="Careers/IndexE.html" target="_blank">Careers/Courses</a></li>
<li><a href="Icet/Index.html" target="_blank">ICET</a></li>
<li><a href="Colleges.aspx" target="_blank">Institutes/Colleges</a></li>
<li><a href="Lawcet/Index.html" target="_blank">LAWCET</a></li>
<li><a href="List.aspx?cid=53">University Updates</a></li>
									</ul>
								</div>
							</li>
							<li class="icon icon-arrow-left">
								<a class="icon " href="#">Competitive Exams</a>
								<div class="mp-level">
									<h2 class="icon ">Competitive Exams</h2>
									<a class="mp-back" href="#">back</a>
									<ul>
                                    <li><a href="#">Competitive Exams</a></li>
<li><a href="Banks/Index.html" target="_blank">Bank Exams</a></li>
<li><a href="CA/Index.html" target="_blank">Current Affairs</a></li>

<li><a href="PreviousPapers/Index.html" target="_blank">Previous Papers</a></li>
<li><a href="SSC/Index.html" target="_blank">SSC Exams</a></li>
<li><a href="http://www.sakshieducation.com/GII-APPSC/Index.html" target="_blank">APPSC Groups</a></li>
<li><a href="RRB/Index.html" target="_blank">RRB Exams</a></li>
<li><a href="GII-New/Index.html" target="_blank">TSPSC Groups</a></li>
<li><a href="TET/Index.html" target="_blank">TET | DSC | TRT</a></li>
<li><a href="Civils/Index.html" target="_blank">Civils</a></li>
<li><a href="POC/Index.html" target="_blank">SI & PC</a></li>
<li><a href="VRO/Index.html" target="_blank">VRO/VRA</a></li>
<li><a href="GK/Index.html" target="_blank">GK</a></li>
<li><a href="Panchayat/Index.html" target="_blank">Panchayat Secretary</a></li>
									</ul>
								</div>
							</li>
							<li class="icon icon-arrow-left">
								<a class="icon " href="#">Miscellaneous</a>
								<div class="mp-level">
									<h2 class="icon ">Miscellaneous</h2>
									<a class="mp-back" href="#">back</a>
									<ul>
<li><a href="Notifications/Index.html" target="_blank">Admissions</a></li>
<li><a href="Jobs/Index.html" target="_blank">Jobs</a></li>
<li><a href="Results/Index.html" target="_blank">Results</a></li>
<li><a href="OnlineTests/Index.html" target="_blank">Online Tests</a></li>
<li><a href="list.aspx?cid=2&sid=357">Hall Tickets</a></li>
<li><a href="Examinations.aspx" target="_blank">Exam Reminder</a></li>
<li><a href="List.aspx?cid=51">Internships</a></li>
<li><a href="List.aspx?cid=2&sid=115&chid=0&tid=0">News</a></li>
<li><a href="List.aspx?cid=55">Online Courses</a></li>
<li><a href="Careers/FaqsE.html" target="_blank">FAQs</a></li>
<li><a href="ListA.aspx?cid=8">Experts' Answers</a></li>
<li><a href="http://mycareer.sakshieducation.com/" target="_blank">Discussion Forum</a></li>
									</ul>
                                    <div style="clear:both;"></div>
								</div>
							</li>
							<li >
								<a class="icon " href="Estore/Index.html" target="_blank">E-Store</a></li>


						</ul>
					  <div style="clear:both;"></div>		
					</div>
				</nav>
				<!-- /mp-menu -->


								<p class="p"><a href="#" id="trigger" class="menu-trigger">Menu</a></p>
                                
                          	</div><!-- /pusher -->
		   
        <div style="clear:both"></div>
        </div>



<!--ipod, Mobile Menu ends-->
		</div>
		
		<div style="margin-top:10px;">
		
<!--body_con starts-->
<div class="list-main" >
<!--Mobile Ads starts-->

</div>
<div class="ad468-60-m">

<!-- /1062118/Main_468x60_1 -->


</div>
<!--Mobile Ads ends-->
<!--left-list bar starts-->
<div class="left-list" >
  <img src="Images/error-img600-400.jpg" width="100%" />
        
       
 <!-- EXT_SakshiEdu_Web_ROS_AL_RCMW_Mid,position=1-->
		<div id="div-clmb-ctn-207069-1" style="float:left;min-height:2px;width:100%;" data-slot="207069" data-position="1" data-section="0" data-ua="d"  class="colombia"></div>
        <div style="clear:both;"></div>
                                                                            </div>
<!--left-list bar ends-->
                                                                       
            
               
                
            
            <!--Right-list bar starts-->
<div class="right-list">
             
      <div class="ad300-250-list">
      
      <!-- /1062118/edu_Home_BigBox -->
      
      </div>               
 <!--Right-list bar ends-->
 <div style="clear:both;"></div>
 </div>
 </div>
 


        </div>
           
            
    

<script type="text/javascript">
//<![CDATA[
Sys.Application.initialize();
//]]>
</script>
</form>
 	<div style="clear:both"></div>
</div>
<!--main-body-inner ends-->
	
	
 <div style="clear:both"></div>
<!--footer starts-->
<div class="footer">
<div class="footer-resize">
<a href="Engineering/Index.html" target="_blank">Engineering</a>
<a href="GroupII/Index.html" target="_blank">Competitive Exams</a>
<a href="Civils/Index.html" target="_blank">Civil Services</a>
<a href="EAM/Eamcet.html" target="_blank">EAMCET</a>
<a href="Inter/Index.html" target="_blank">Intermediate</a>
<a href="Tenthclass/Index.html" target="_blank">Tenth Class</a>

 </div>
<div class="oth-info">
<a href="Home.html">Home</a> | <a href="http://sakshieducation.com/APPs.html" target="_blank">APPs</a> | <a href="Estore/Index.html" target="_blank">E-Store</a> | <a href="Aboutus.aspx">About Us</a> | <a href="FeedBack.aspx">Feedback</a> |  <a href="Disclaimer.aspx">Disclaimer</a>  |  <a href="ContactUs.aspx">Contact Us</a> at <a href="mailto:education@sakshi.com">education@sakshi.com</a> <br/>
Copyright © 2010 sakshieducation.com. All rights reserved. <br/> <span style="font-size:11px;">Designed & Developed by Sakshi Education Division.</span>  
</div>




</div>
<!--footer ends-->
<div style="clear:both"></div>
</div>
<!--main-body-resize ends-->

 <script src="Hjs/classie.js"></script>
		<script src="Hjs/mlpushmenu.js"></script>
		<script>
			new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ), {
				type : 'cover'
			} );
		</script>
        
<div class="soc-icon-bar">
<a href="http://www.facebook.com/sakshieducationcom" target="_blank" class="fb" title="facebook"></a>
<a href="http://twitter.com/sakshieduinfo" target="_blank" class="tw" title="Twitter"></a>
<a href="http://plus.google.com/111227136496750031842" target="_blank" class="gp" title="Google+"></a>
<a href="http://www.youtube.com/user/bhavitavideo" class="you" target="_blank" title="You Tube"></a>
<a href="../rss.aspx" class="rss" target="_blank" title="RSS Feeds"></a>
</div>

<!--face book code starts-->         
  <ul id="fb" style="margin:0px; padding:0px; list-style-type:none;">
  <li  style="width:35px; height:93px;  position:fixed; top:285px; right:0px; z-index:1000000; ">
 <ul  style="margin:0px; padding:0px; position:relative; top:0px; right:0px;  width:327px; height:auto;   ">
  <li style="display:block;  width:37px; height:auto;" ><img alt="" src="Images/facebookVerticalLogo.png" style="display:block; float:left;" /></li>
  <li   style="width:290px; height:350px; display:block;  background:#fffddc; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; float:left;"><div style="font-size: 15px; color: white; cursor: default; padding-left: 10px; padding-bottom: 5px; padding-top: 7px; border-radius:5px 5px 0px 0px; -webkit-border-radius:5px 5px 0px 0px; -moz-border-radius:5px 5px 0px 0px; -o-border-radius:5px 5px 0px 0px; -ms-border-radius:5px 5px 0px 0px;  background: #3B5998;">Receive All Updates Via Facebook</div>
<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fsakshieducationcom&amp;width=293&amp;height=258&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=false&amp;appId=276213142406836" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:293px; height:258px;" allowTransparency="true"></iframe></li>
 </ul>
  <script type="text/javascript">
  $(document).ready(function() {

            $('#fb li').hover(
		function() {
		   
		   $('ul',this).css('z-index', 9999999);	
		  $('ul',this).stop(true, false).animate({ right: 290}, 500);
		 


		},
		function() {
		$('ul',this).css('z-index', 9999999);	
		    $('ul',this).stop(true, false).animate({ right: 0 }, 500);
		    

		}
	);
	
	});
		</script>	
  </li> 
    </ul>
    
    <!--face book code ends-->
	  <!--pop left starts-->

	

<div class='ad-pop'  style=" left:10px; top:25px; ">
<!-- /1062118/edu_Home_160x600 -->
<div id='div-gpt-ad-1511853713170-0'>
<script>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1511853713170-0'); });
</script>
</div>
</div>
<!--pop ends-->
<!--pop right starts-->

<div class='ad-pop'  >
<!-- /1062118/edu_160x600_1 -->
<div id='div-gpt-ad-1511853713170-5'>
<script>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1511853713170-5'); });
</script>
</div>
</div>


<!--pop ends-->  
<a href="#" class="scrollup">Scroll</a><!-- end scroll to top of the page-->
<!-- scroll up -->
<script type="text/javascript">
    $(document).ready(function(){
 
        $(window).scroll(function(){
            if ($(this).scrollTop() > 100) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });
 
        $('.scrollup').click(function(){
            $("html, body").animate({ scrollTop: 0 }, 500);
            return false;
        });
 
    });
</script> 
</body>
</html>
