@font-face{font-family:'open_sansregular';src:url('../fonts/OpenSans-Regular.eot');src:local('?'),url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg') format('svg');font-weight:normal;font-style:normal;}

ol, ul{margin-left:30px;}
*{margin:0px; padding:0px;}
body{font-family:'open_sansregular'; font-size:14px; color:#3b3b3b;}
.budget-main{width:100%; height:auto; position:relative;}
.top-m-bar{width:100%; height:30px; background:#f6f6f6;}
.top-in-bar{width:1000px; height:30px;  margin:0px auto;}
.date-con{width:150px; height:30px;  float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#1c828e; line-height:30px; padding-left:20px; text-align:right;}
.t-navi-con{width:750px; height:30px; float:right; }
 .p-t-link{width:355px; height:30px; float:left; padding-left:125px;   }
.t-navi-con a{display:block; padding:0px 10px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3b3b3b; line-height:30px; font-weight:normal; text-decoration:none; transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out;  -moz-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out; -ms-transition:all 0.5s ease-in-out;}
.t-navi-con a:hover{color:#1c828e; }
.social-icons{width:200px; height:30px;  float:right; margin-right:25px;}
.fb{ width:30px; height:30px; float:left; border-right:1px solid #ccc; border-left:1px solid #ccc; background:url(../Images/fb.jpg) no-repeat center center; text-indent:-4444px;}
.fb:hover{width:30px; height:30px; float:left; border-right:1px solid #ccc; border-left:1px solid #ccc; background:url(../Images/fb-h.jpg) no-repeat center center;}
.tw{width:30px; height:30px; float:left; border-right:1px solid #ccc; background:url(../Images/tweet.jpg) no-repeat center center; text-indent:-4444px;}
.tw:hover{width:30px; height:30px; float:left; border-right:1px solid #ccc; background:url(../Images/tweet-h.jpg) no-repeat center center; text-indent:-4444px;}
.gp{width:30px; height:30px; float:left; border-right:1px solid #ccc; background:url(../Images/gplus.jpg) no-repeat center center; text-indent:-4444px;}
.gp:hover{width:30px; height:30px; float:left; border-right:1px solid #ccc; background:url(../Images/gplus-h.jpg) no-repeat center center; text-indent:-4444px;}
.you{width:30px; height:30px; float:left; border-right:1px solid #ccc; background:url(../Images/you.png) no-repeat center center; text-indent:-4444px;}
.you:hover{width:30px; height:30px; float:left; border-right:1px solid #ccc; background:url(../Images/you-h.png) no-repeat center center; text-indent:-4444px;}
.rss{width:30px; height:30px; float:left; border-right:1px solid #ccc; background:url(../Images/in.png) no-repeat center center; text-indent:-4444px;}
.rss:hover{width:30px; height:30px; float:left; border-right:1px solid #ccc; background:url(../Images/in-h.png) no-repeat center center; text-indent:-4444px;}

#header{width:1000px; height:120px;  margin:0px auto; margin-top:5px; }
.logo-bar{width:305px; height:110px; float:left; margin-top:10px;}
.s-bar{width:695px; height:100%; float:left; }
.search{width:100%; height:50px; margin-top:5px; }
.input{width:330px; height:35px; margin-top:5px; margin-left:300px;      }
.input input{display:block; width:225px; height:33px; background:#fff; border:1px solid #f2f2f2; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#999999; float:left;  padding-left:5px;   }
.input .submit{width:80px; height:35px; background:#1c828e; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff; font-weight:normal; cursor:pointer;
 float:left;  border:none;    }
 .ad468{width:468px; height:60px; background:#f2f2f2; margin-left:100px;}
 #navigation{ width:1000px; height:50px; background:#3b3b3b; margin:0px auto; margin-top:15px;  position:relative;}
#navigation ul{margin:0px auto; padding:0px; display:block;  }
#navigation ul li{list-style-type:none;  }
#navigation ul li a{display:block; padding:0px 15px; height:50px; line-height:50px; font-family:'open_sansregular'; font-size:14px; color:#fff; text-decoration:none; font-weight:normal; border-left:1px solid #505050; border-right:1px solid #000; float:left; transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out; -ms-transition:all 0.5s ease-in-out; }
#navigation .active{background:#1c828e; border-left:none;}
#navigation ul li a:hover{background:#1c828e;}
#navigation ul li ul{margin:0px; padding:0px; display:none; width:auto; height:auto;  position:absolute; z-index:10000; top:50px;   }
#navigation ul li ul li{list-style-type:none; display:block; width:100%; height:40px;  border-bottom:1px solid #0d6f7b; background:#1c828e;
  margin:0px; padding:0px; text-indent:10px; }


#navigation ul li ul li a{font-family: Arial, Helvetica, sans-serif; height:40px; border-left:none; border-right:none; float:none;  border-bottom:1px solid #0d6f7b; font-size:12px; color:#fff; border:none; text-decoration:none; line-height:40px; font-weight:bold; padding:0px 0px;}
#navigation ul li ul li a:hover{text-decoration:underline;  color:#fff; line-height:40px; padding:0px; background:#1c828e; }
#navigation ul li:hover > a{ background:#1c828e; }
#navigation ul li:hover > ul{display:block;}

.body-bar{width:100%; height:auto; background:#f6f6f6; margin-top:10px; }
.top-bar{width:1000px; height:auto;  margin:0px auto;}
.top-s-bar{width:650px; height:auto;  float:left;}
.top-s-bar h1{margin:0px; padding:0px; width:90%; height:40px; font-family:'open_sansregular'; font-size:22px; color:#3b3b3b; text-decoration:none; font-weight:normal; line-height:55px; background:url(../Images/list-icon.png) no-repeat 25px 21px; padding-left:10%;} 

/*.top-con-bar{width:630px; height:auto;   margin-left:15px; float:left;}
.top-con-bar .h1{margin:0px; padding:0px; width:630px; height:40px; font-family:'open_sansregular'; font-size:22px;  font-weight:normal; text-align:center; line-height:50px; color:#1c828e; }
*/
.top-con-bar{width:630px; height:265px;   float:left; position:relative;}
.top-con-bar .h1{margin:0px; padding:0px; width:630px; height:40px; font-family:'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif; font-size:22px;  font-weight:normal; text-align:center; line-height:40px; color:#009b97; }
.rslides {
  margin: 0px;
   position: relative;
  list-style: none;
   width:630px;
  padding: 0;

  }
  .rslides li {
 
   display: none;
  width: 650px;


  }


 

.rslides li h1{margin:0px; padding:0px; width:650px; height:45px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:18px; font-weight:normal; text-align:center; line-height:40px; color:#820250; background:#fff;}
.rslides li .top-content{width:650px; height:200px;  }
.rslides li .top-content img{display:block; width:330px; height:200px; float:left; margin-left:10px; border:2px solid #fff; box-shadow:0 0 2px #e8e8e8; }
.rslides li .top-content p{margin:0px; display:block; width:282px; height:auto; font-family: Arial, Helvetica, sans-serif; font-size:14px; color:#3f3f3f; text-align:justify; padding:0px 10px; float:left; line-height:25px; font-weight:normal; letter-spacing:0px; }
.rslides li .top-content a{display:block; width:110px; height:35px; line-height:35px; background:#009b97; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:14px; text-decoration:none; text-align:center; color:#fff; font-weight:bold; margin-left:156px; transition:color 0.5s ease-in-out; -webkit-transition:color 0.5s ease-in-out;  -moz-transition:color 0.5s ease-in-out; -o-transition:color 0.5s ease-in-out; -ms-transition:color 0.5s ease-in-out;}
.rslides li .top-content a:hover{background:#01bcb7; color:#fff;}

.rslides_tabs {
  list-style: none;
  padding: 0;
  font-size: 18px;
   margin: 0px;
  max-width: 650px;

 
  
 
  
  }

.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
  }

.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding:0px;
  height: auto;
  background: transparent;
  display: inline;
  }

.rslides_tabs li:first-child {
  margin-left: 0;
  }

.rslides_tabs .rslides_here a {
  background:#00f;
  color: #fff;
  font-weight: bold;
  }



#slider3-pager{margin-left:80px; position:absolute; bottom:20px; left:0;  list-style-type:none; width:auto; height:15px;  clear:both; z-index:1000; }


#slider3-pager a {
  display: inline-block;
  width:17px; height:17px; background:#676767; border-radius:0px;
}



#slider3-pager .rslides_here a {
	width:17px; height:17px;
  background:#009b97;
  
}

#slider3-pager a {
  padding: 0;
  margin:0px;
  
}

/*
.top-content{width:630px; height:240px;  }
.top-content img{display:block; width:330px; height:200px; float:left; margin-top:10px; }
.top-content p{margin:0px; display:block; width:270px; height:auto; font-family: Arial, Helvetica, sans-serif; font-size:14px; color:#666666; text-align:justify; padding:5px 10px; float:left; line-height:25px; font-weight:normal; letter-spacing:0px; }
.top-content a{display:block; width:110px; height:35px; line-height:35px; background:#1c828e; font-family: Arial, Helvetica, sans-serif; font-size:14px; text-decoration:none; text-align:center; color:#fff; font-weight:bold; margin-left:156px; transition:color 0.5s ease-in-out; -webkit-transition:color 0.5s ease-in-out;  -moz-transition:color 0.5s ease-in-out; -o-transition:color 0.5s ease-in-out; -ms-transition:color 0.5s ease-in-out;}
.top-content a:hover{background:#3b3b3b; color:#fff;}
*/
.must-bar1{width:325px; height:280px;  float:right; background:#fff; margin-top:10px;}
.must-bar1 h1{margin:0px; padding:0px; width:100%; height:40px; font-family:'open_sansregular'; font-size:22px; color:#1c828e; text-decoration:none; font-weight:normal; line-height:40px; text-align:center;   }
.must-bar{width:325px; height:280px;  float:right; background:#fff; margin-top:10px;}
.must-bar h1{margin:0px; padding:0px; width:100%; height:40px; font-family:'open_sansregular'; font-size:22px; color:#1c828e; text-decoration:none; font-weight:normal; line-height:40px; text-align:center;   }
.must-bar ul{margin:0px; padding:0px;}
.must-bar ul li{list-style-type:none; display:block; width:85%; height:40px; border-bottom:2px solid #f6f6f6; background:url(../Images/list-icon.png) no-repeat 15px 11px; padding-left:15%;}  
.must-bar ul li a{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#3b3b3b; text-decoration:none; font-weight:normal; line-height:40px;}
.must-bar ul li a:hover{color:#1c828e;}
.container-bar{width:1000px; height:auto;  margin:0px auto; margin-top:10px;}
.items-container{width:680px; height:auto;  float:left;}
.ad-container{width:300px; height:auto;  float:right;}
.heading-bar{width:100%; height:40px;}
.container{width:100%; height:auto;  margin-top:10px;}
.year{width:130px; height:40px; background:#1c828e; font-family:'open_sansregular'; font-size:20px; color:#fff; font-weight:normal; line-height:40px; text-align:center; float:left;}
.text{width:300px; height:40px; background:#f6f6f6; font-family:'open_sansregular'; font-size:20px; color:#3b3b3b; font-weight:normal; line-height:40px; text-align:center; float:left; margin-left:5px;}
.block{width:158px; height:200px;  float:left; }
.block img{display:block; width:152px; height:94px; border:3px solid #fff; box-shadow:0px 0px 3px #aba9a9;}
.block a{display:block; width:158px; height:auto; min-height:40px; font-family:'open_sansregular'; font-size:15px; color:#1c828e; text-align:center; text-decoration:none; font-weight:normal; line-height:22px;}
.block a:hover{text-decoration:underline;}
.block span{font-family:'open_sansregular'; font-size:15px; color:#bcbcbc;  font-weight:normal; line-height:20px;}
.block-u{width:210px; height:200px;  float:left; }
.block-u img{display:block; width:202px; height:100px; border:3px solid #fff; box-shadow:0px 0px 3px #aba9a9;}
.block-u a{display:block; width:210px; height:auto; min-height:35px; font-family:'open_sansregular'; font-size:15px; color:#1c828e; text-align:center; text-decoration:none; font-weight:normal; line-height:22px;}
.block-u a:hover{text-decoration:underline;}
.block-u span{font-family:'open_sansregular'; font-size:15px; color:#bcbcbc;  font-weight:normal; line-height:20px;}
.t-block{width:300px; height:auto; float:left; background:#fff; margin-left:25px;  padding:10px 0px;}
.t-block ul{margin:0px; padding:0px;}
.t-block ul li{list-style-type:none; display:block; width:83%; height:40px; border-bottom:2px solid #f6f6f6; background:url(../Images/list-icon.png) no-repeat 15px 11px; padding-left:17%; border-bottom:1px solid #f6f6f6;}  
.t-block ul li a{font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#3b3b3b; text-decoration:none; font-weight:normal; line-height:40px;}
.t-block ul li a:hover{color:#1c828e;}
.ad350{width:300px; height:250px; background:#f2f2f2;}
.current-bar{width:300px; height:auto;}
.footer-bar{width:100%; height:auto; background:#3b3b3b; margin-top:10px;}
.footer{width:980px; height:auto; margin:0px auto; 
  font-family:arial; font-size:12px; color:#a1a1a1; text-align:center; line-height:20px; margin-top:15px;   padding-top:10px;}
.footer a{font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#fff; font-weight:bold; text-decoration:none; margin:0px 10px;}
.footer a:hover{text-decoration:underline;}

.TabScriptcontent{width:300px; height:auto;  }
.TabScriptcontent ul{margin:0; padding:0; list-style-type:none;}
 .TabScriptcontent ul li{ width:300px; height:auto; min-height:35px;  font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#a4a4a4;  background:url(../Images/list-icon.png) no-repeat 5px 5px; border-bottom:1px solid #f6f6f6; }
.TabScriptcontent ul li a { margin:5px 0px 0px 0px; padding-left:40px; padding-top:5px; display:block; 
	font-family:'Conv_NATS',Arial, Helvetica, sans-serif;  font-size:18px;  color:#2e2e2e; text-decoration:none; font-weight:normal;  line-height:25px;
	}	
.TabScriptcontent ul li a:hover {
	  color:#1c828e; 
	}
	
	.left-con{width:325px; height:auto; background:#fff; box-shadow:0px 0px 2px #ccc; float:left; margin-left:25px; margin-top:20px;}
.right-con{width:640px; height:auto;  float:right;  margin-top:20px; }

.right-con-list{width:600px; height:auto;   float:right;  margin-top:20px; margin-right:25px; background:#fff; box-shadow:0px 0px 2px #ccc; }
.right-con-list h1{margin:0px; padding:0px; width:500px; height:35px; background:#1c828e;
 margin:0px auto; font-family:'Arial Narrow', Arial, sans-serif; font-size:22px; color:#fff; font-weight:normal; line-height:35px; text-align:center; border-top:2px solid #3b3b3b;}

 

.bodytext{font-family:Verdana, Geneva, sans-serif; font-size:13px; color:#333; text-align:justify;  line-height:20px;}
.social_icon{width:auto; height:20px;  margin-top:10px; margin-right:20px; }
.land-body{ width:247px; height:auto; background:#fff; margin-left:5px;    margin-top:15px; border-radius:20px 0px 0px 20px; box-shadow:0px 0px 3px #999; -webkit-box-shadow:0px 0px 3px #999; -moz-box-shadow:0px 0px 3px #999; -o-box-shadow:0px 0px 3px #999; -ms-box-shadow:0px 0px 3px #999;  border-radius:5px;}
.l_h4{margin:0px; padding:0px; width:255px; height:30px; border-top:2px solid #1c828e;  background:#3b3b3b;
  font-size:16px; font-family: Arial, Helvetica, sans-serif;  color:#fff; line-height:30px; text-align:center; font-weight:bold; box-shadow:0px 0px 2px #999;}
.land-body ul{margin:0px; padding:0px; display:block; width:246px; height:auto;}
.land-body ul li{list-style-type:none; padding-top:5px;}
.land-body ul li a{display:block; width:239px; min-height:25px; font-weight:normal;  font-family:  Arial, Helvetica, sans-serif; letter-spacing:1px; font-size:14px; text-decoration:none;  color:#2e2e2e; line-height:20px; padding-left:8px;  padding-right:3px; border-bottom:#dfdfdf 1px solid; transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -ms-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out; }
.land-body ul li a:hover{text-decoration:underline;}



.c-tabs{width:500px; height:auto;  margin:0px auto; margin-top:15px; box-shadow:0px 0px 2px #999; margin-bottom:10px; border-radius:0px 20px 0px 0px;}
.t-h4{margin:0px; padding:0px; width:500px; height:30px; font-family:Arial, Helvetica, Verdana, sans-serif; font-size:18px; background:#4f4f4f; color:#fff; text-align:center;  line-height:30px;  border-top:2px solid #ff3300; border-radius:0px 20px 0px 0px;}
.td{font-family:Georgia, Arial, Helvetica, Verdana, sans-serif; font-size:15px; font-weight:bold; color:#2e2e2e; text-transform:uppercase; line-height:30px;}
.GroupIIStoryLnks{margin:0px; padding:0px; width:225px; height:auto; float:left;}
.GroupIIStoryLnks li{list-style-type:none; display:block; padding-left:25px; background:url(../images/list_icon1.png) no-repeat 20px 0px ; min-height:30px; width:225px; border-bottom:1px solid #e3e3e3;}
.GroupIIStoryLnks li a{font-family:Arial, Helvetica, Verdana, sans-serif; font-size:14px; color:#069; text-decoration:none; line-height:35px; margin-left:30px; transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out; -ms-transition:all 0.5s ease-in-out;}
.GroupIIStoryLnks li a:hover{color:#ff3300;}

 


/* scroll up */
.scrollup{
    width:60px;
    height:32px;
    opacity:1;
    position:fixed;
    bottom:22px;
    right:40px;
    display:none;
    text-indent:-9999px;
    background: url(../images/scroll-top-arrow.png) no-repeat left top;
	z-index: 999;
}











.blistg
{
   width:550px; height:auto; margin:0px; padding:0px;
}
.blistg lI
{
    list-style-type:none; float:left; display:block; 
    PADDING-LEFT: 30px;
    min-height:35px;
    BACKGROUND: url(../images/li.png) no-repeat 7px 13px ;
    BORDER-BOTTOM: #e5e5e5 0px solid; transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -ms-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out;
    
}

.blistg lI a
{
    font-family:'Conv_NATS',Arial, Helvetica, sans-serif; font-size:16px; letter-spacing:0px; line-height:40px;  color:#333;  text-decoration:none;  font-weight:bold; transition:all 1s ease-in-out; -webkit-transition:all 1s ease-in-out; -moz-transition:all 1s ease-in-out; -ms-transition:all 1s ease-in-out; -o-transition:all 1s ease-in-out;
}
.blistg lI a:hover
{
    text-decoration:underline;  color:#1c828e;
}

.blisteg
{
   width:550px; height:auto; margin:0px; padding:0px;
}
.blisteg lI
{
    list-style-type:none; float:left; display:block;  
    PADDING-LEFT: 30px;
    min-height:35px;
    BACKGROUND: url(../images/li.png) no-repeat 7px 15px ;
    BORDER-BOTTOM: #e5e5e5 0px solid; transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -ms-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out;
    
}

.blisteg lI a
{
    font-family: Arial,mallanna, ramabhadra, Sree krushnadevaraya,  Helvetica, sans-serif; font-size:14px;  line-height:35px;  color:#000;  text-decoration:none;  font-weight:normal; transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -ms-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out;
}
.blisteg lI a:hover
{
    text-decoration:underline; color:#1c828e;
}


#CAffTbl
{
font-family: Georgia, Arial,mallanna, ramabhadra, Sree krushnadevaraya, Helvetica, sans-serif;
text-align: center;
font-size: 13px;
vertical-align:top;
width:100%;
border-collapse:collapse;
}
#CAffTbl td, #CAffTbl th 
{
text-align: left;
font-size:1em;
border:1px solid Orange;
padding:3px 7px 2px 7px;
vertical-align:middle;
}
#CAffTbl th 
{
font-size:1.1em;
padding-top:5px;
padding-bottom:5px;
background-color:Orange;
text-align:center;
color:#ffffff;
}
#CAffTbl tr.alt td 
{
color:#000000;
text-align: left;
vertical-align:middle;
background-color:#FFFBC7;
}

.CAffTbltxt {
	font-family: Georgia, Arial, Helvetica, Verdana,mallanna, ramabhadra, Sree krushnadevaraya, sans-serif;
	text-align: left;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	line-height:150%;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

.CAffTbltxt a {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
	text-align: center;
	}

.CAffTbltxt a:link, .CAffTbltxt a:visited {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	}

.CAffTbltxt a:hover {
	color: Orange;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

.GroupIIStoryLnksTelugu li a{text-decoration:none; color:#2e2e2e;  transition:color 0.5s ease-in-out; -webkit-transition:color 0.5s ease-in-out; -moz-transition:color 0.5s ease-in-out; -o-transition:color 0.5s ease-in-out; -ms-transition:color 0.5s ease-in-out;}
.GroupIIStoryLnksTelugu li a:hover{text-decoration:none; color:orange;}

.caa a{text-decoration:none; color:#2e2e2e; font-family:NATS, mallanna, ramabhadra, Sree krushnadevaraya, Trebuchet MS, Arial, Helvetica, sans-serif; font-size:16px; transition:color 0.5s ease-in-out; -webkit-transition:color 0.5s ease-in-out; -moz-transition:color 0.5s ease-in-out; -o-transition:color 0.5s ease-in-out; -ms-transition:color 0.5s ease-in-out;}
.caa a:hover{text-decoration:none; color:orange;}

.GroupIIStoryLnksEnglish li a{text-decoration:none; font-family:Arial; color:#2e2e2e; transition:color 0.5s ease-in-out; -webkit-transition:color 0.5s ease-in-out; -moz-transition:color 0.5s ease-in-out; -o-transition:color 0.5s ease-in-out; -ms-transition:color 0.5s ease-in-out;}
.GroupIIStoryLnksEnglish li a:hover{text-decoration:none; color:orange;}

.land-body-p ul{margin:0px; padding:0px; display:block; width:400px; height:auto; }
.land-body-p ul li{list-style-type:none; padding-top:5px; text-align:center;}
.land-body-p ul li a{display:block; width:389px; min-height:25px; text-align:left;  font-weight:normal;  font-family:  Arial, Helvetica, sans-serif; letter-spacing:0px; font-size:14px; text-decoration:none;  color:#2e2e2e; line-height:20px; padding-left:15px;  padding-right:3px; border-bottom:#dfdfdf 1px solid; transition:all 0.5s ease-in-out; -webkit-transition:all 0.5s ease-in-out; -moz-transition:all 0.5s ease-in-out; -ms-transition:all 0.5s ease-in-out; -o-transition:all 0.5s ease-in-out; }
.land-body-p ul li a:hover{color:#069;}
.MdTelIntro{font-size:16px; padding:10px; line-height:30px; font-family:'Conv_NATS',Arial, Helvetica, sans-serif;}
.link-d {
    width: 98%;
    padding: 5px 2% 5px 0;
    text-align: right;}
	.link-d a {
    font-size: 14px;
    color: #313131;
    text-decoration:none;
    font-weight: none;
    transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out;
}
.link-d a:hover { text-decoration:underline;}